
/* Header */

@media (width >= 768px) {

  .header::before {
    top: 20px;
    right: 20px;
  }
  
  .decor-rec::after {
    top: 28px;
    right: 28px;
  }

  .header {
    margin-block-end: 70px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    ". footer";
    padding: 20px 20px 0 20px;
  }

  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    margin-block-end: 160px;
  }

  .header__theme-menu {
    margin: 146px 0 173px;
  }

  .header__description {
    margin-block-end: 172px;
  }

  .header::after {
    left: 20px;
    bottom: 10px;
    align-self: end;
    border-inline-start: 1px solid var(--decoration-color);
    border-block-end: 1px solid var(--decoration-color);


}

@media (width >= 1024px) {

  .header__heading {
    margin-block-end: 114px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-button:hover {
    margin: 0;
    outline: 1px solid var(--button-border-color);
  }

  .header {
    margin-block-end: 65px;
    grid-template-areas: 
      "nav header"
      "main main"
      "footer footer";
    }

  .header__theme-menu {
    grid-area: nav;
    justify-self: center;
    align-self: flex-start;
    margin: auto;
  }
  
  .header__theme-menu-list {
    margin-block-end: 273px;
    flex-direction: row;
    align-self: start;
  }

  .decorated-zone {
    min-height: 94vh;
  }

  .header__description {
    max-inline-size: 491px;
    margin-block-end: 128px;
  }

}

/* Main */

@media (width >= 768px) {

  /* .content__block:not(:last-of-type),
  .content__block_what {
    margin-block-start: 60px;
    margin-block-end: 20px;
    padding: 0 20px;
  } */

  .content__block, .content__block_what {
    /* margin-block-end: 60px; */
    padding: 0 20px;
  }

  .content__block {
    margin-block-end: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: min-content;
  }

  .content__block_what {
    margin-block-end: 50px;
  }


  .content__block-title {
    margin: 0 0 20px 0;
    max-inline-size: 236px;
    padding-inline-end: 10px;
    grid-row: span 2;
  }
  .content__block-article {
    padding-inline-start: 13px;
    grid-column-start: 2;
  }
  .content__block-title + .title-decor {
    margin-inline-start: 13px;
  }
  .content__block_what {
    display: grid;
  }
  .content__block_what > .content__block-article {
    grid-column-start: 1;
    padding-inline-start: 0px;
  }
  .content__block_what > .content__block-title {
    inline-size: 230px;
  }
  
}

@media (width >= 1024px) {
  .content__block_what {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(315px, max-content));
  }

  .content__block-title {
    max-inline-size: 315px;
    margin-block-end: 0;
  }

  .content__block_what > .content__block-title {
    inline-size: 315px;
    grid-row: auto;
  }

  .content__block_what > .content__block-article {
    grid-column-start: auto;
    grid-row-start: 2;
  }
}

@media (min-width: 1024px) {
  .header {
  grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-self: start;
  }
  .header__theme-menu {
    grid-area: header;
    margin: 0;
    justify-self: center;
    align-self: flex-start;
  }
}


/* Pictures */

@media (width >= 768px) {

  .block__pictures {
    margin-block-end: 60px;
    padding: 0 20px;
  }

  .content__block_pictures {
    max-block-size: 780px;
    margin-block-start: 20px;
    margin-block-end: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "sunset sunset ice-cream"
    "cassette books ice-cream"
    "cassette street street"
    "cassette street street";
    gap: 20px;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .cassette {
    grid-area: cassette;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .picture {
    display: block;
    height: 100%;
    object-fit: cover;
  }

  .content__block-subtitle title-decor {
    margin-block-end: 10px;
  }
}

@media (width:1024px) {
  .content__block_pictures {
    margin-block-end: 65px;
    min-block-size: 1050px;
  }
}

/* Footer */

@media (width >= 768px) {

  .footer {
    padding: 0 20px 20px;
    min-block-size: 1000px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer::before {
    top: 0;
    right: 20px;
  }

  .footer::after {
    bottom: 17px;
    left: 20px;
  }
}

@media (width>=1024px) {
  .footer {
    min-block-size: 768px;
  }

  .footer::before {
    top: 12px;
  }

  .footer::after {
    bottom: 27px;
  }
}
}