@media(width >= 768px) {

  /* Header */

  .header {
    padding: 20px;
  }

  .decor__rec {
    top: 20px;
    right: 30px;
  }

  .header__theme-menu {
    margin-block-start: 0.88vh;
  }

  .header .header__heading {
    margin-inline-start: -20px;
    margin-block-start: 3.42vh;
  }

  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    margin-block-start: 2.44vh;
  }

  /* Main */

  .content {
    row-gap: 80px;
    margin: 60px 20px;
  }

  .section-why,
  .section-how {
    grid-template-columns: 30.73vw auto;
    gap: 20px;
  }

  .section-what .section__header {
    max-inline-size: 30.73vw;
  }

  /* Pictures */

  .pictures .section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25vw 30vw 41.4vw;
    grid-template-areas:
    "sunset sunset ice-cream"
    "cassette books ice-cream"
    "cassette street street";
    gap: 19px;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .cassette {
    grid-area: cassette;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .picture {
    block-size: 100%;
  }

  .pictures .section__header {
    margin-block-end: 20px;
  }

  /* Footer */

  .footer {
    padding: 20px;
  }

  .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) or (height < 668px) {

  /* Header */

  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    ". nav decor-before"
    "title title title"
    "description description description"
    "decor-after decor-after decor-after"
    ;
  }

  .header::before {
    grid-area: decor-before;
  }

  .header__theme-menu {
    margin-block-start: 0;
    grid-area: nav;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header .header__heading {
    margin-block-start: 24.09vh;
    grid-area: title;
  }

  .header__description {
    margin-block-start: 3.26vh;
    grid-area: description;
    max-inline-size: 491px;
  }

  .header::after {
    grid-area: decor-after;
  }

  /* Main */

  .section-what .section__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* Pictures */

  .pictures .section__list {
    grid-template-rows: 25.4vw 30.7vw 428px;
    gap: 22px;
  }
}

@media (height < 668px) {

  /* Pictures */

  .pictures .section__list,
  .section-what .section__list {
    display: flex;
    flex-direction: column;
  }

  .pictures .section__list {
    gap: var(--standard-gap);
  }

  .picture {
    max-block-size: 80vh;
  }
}